/*
Si es una clase .
Si es un id #
Todos los elementos *

elementos p o tambien p,a,td,th

*/
body {
    min-height: 100vh;
    margin: 0;
    background-color: #0a0a0a;
    background-image: linear-gradient(135deg, #050505 0%, #151515 100%);
    color: #e0e0e0;
    font-family: sans-serif;
}

a {
    color: #00ffcc;
    text-decoration: none;

    font-size: 30px;
}

a:hover {
    color: #ff9900;

}

#navbar {
    text-align: center;
    background-color: #00ff00;
    color: rgb(0, 255, 4);
    text-align: center;
    text-decoration: solid;

}

#Container {
    width: 95%;
    margin-top: 30px auto;
    display: flex;
    flex-direction: column;
    margin-left: 20%;

}

.Table {
    background: black;
    backdrop-filter: blur(10px);
    width: 100%;
    margin-bottom: 50px;
    border-radius: 15px;
    padding: 20px;
}

th {
    color: #ff9900;
    padding: 15px 10px;
}

td {
    text-align: center;
    padding: 12px 10px;
    padding: 10px;
}

h1{
    
    color: #000000;
    letter-spacing: 2px;
}
h3 {
    color: #00ffcc;
    letter-spacing: 2px;
    text-shadow: 0 0 10px rgba(0, 255, 204, 0.5);/* Brillo */
}

/* FORMULARIO PARA EL LISTAR Y FORMS */
.accionesTabla {
    min-width: 300px;
    text-align: justify;
}

/* Cada fila del mini-formulario  y la tabla*/
.fila-tabla,
.fila-formulario {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding-bottom: 2px;
}

/* Las etiquetas (Nombre, Planeta...) */
.fila-tabla label {
    width: 90px;
    font-size: 15px;
}

/* Los inputs dentro de la tabla y formulario */
.fila-tabla input,
.fila-formulario input {
    flex: 1;
    padding: 4px;
    font-size: 15px;
    text-align: center;

}

/* Contenedor de botones de tabla y formulario */
.botones-tabla,
.botones-formulario {
    text-align: right;
}

label {
    color: white;
    font-size: 50px;
}

.fila-formulario label {
    width: 50%;
    font-size: 20px;
}

.accionesFormulario {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

#containerForm {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}