/*
Si es una clase .
Si es un id #
Todos los elementos *

elementos p o tambien p,a,td,th

*/
body {
    width: max-content;
    height: 100vh;
    background-image: linear-gradient(100deg,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(8, 97, 186, 0.84) 8%,
            rgba(67, 179, 245, 0.63) 15%,
            rgba(93, 206, 243, 0.62) 36%,
            rgba(126, 240, 241, 0.6) 51%,
            rgba(238, 119, 192, 0.76) 70%,
            rgba(247, 25, 136, 0.85) 91%,
            rgba(0, 0, 0, 0.59) 100%);
   

}

a {
    color: rgb(255, 255, 255);
    font-family: sans-serif;

    font-size: 20px;

}

#navbar {
    text-align: center;
    color: rgb(0, 255, 4);
    font-family: sans-serif;
    text-align: center;
    text-decoration: solid;

}

#Container {
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 50px;

}

.Tabla {
    backdrop-filter: blur(15px);
    margin-left: auto;
    margin-right: auto;
    /* Optional: Set a width if needed */
    width: 120%;

}

td,
th {
    text-align: center;
    color: rgb(0, 255, 4);
    font-family: sans-serif;
    padding-left: 20px;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-align: center;
}

.accionesTabla {
    text-align: justify;

}

/* PARA EL FORMULARIO PARA EDITAR Y ELIMINAR LOS CAMPOS */
.accionesTabla {
    min-width: 300px;
}

/* Cada fila del mini-formulario */
.fila-tabla {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding-bottom: 2px;
}

/* Las etiquetas (Nombre, Planeta...) */
.fila-tabla label {
    width: 90px;
    font-size: 15px;
}

/* Los inputs dentro de la tabla */
.fila-tabla input {
    flex: 1;
    padding: 4px;
    font-size: 15px;
    text-align: center;

}

/* Contenedor de botones */
.botones-tabla {
    text-align: center;


}